
* {
    box-sizing: border-box;
}

body {
    margin-top: 10%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 76px 112px;
    background: url(../img/block/bg.jpg);
    background-size: cover;
    background-position: center;
}

.block__logo {
    width: 69px;
    height: 65px;
    margin-bottom: 71px;
}

.block__content-title h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 45px;

    letter-spacing: -0.41px;

    color: #1F294A;
}

.block__content-title {
    margin-bottom: 52px;
}


.block__content-article ul li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    letter-spacing: -0.41px;
    
    color: #1F294A;
}

.block__content-article ul {
    margin-left: 14px;
}

.block__content-article li::before {
    content: "•";
    position: absolute;
    margin-left: -14px;
}

.block__content-article {
    margin-bottom: 42px;
}

.block__main {
    display: flex;
    margin-bottom: 170px;
}

.block__content {
    max-width: 423px;
    display: inline-block;
    z-index: 5;
}

.block__content-download a {
    width: 153px !important;
    height: 51px !important;
    margin-bottom: 17px;
}

.block__content-download p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;

    letter-spacing: -0.41px;

    color: rgba(31, 41, 74, 0.5);
}

.block__content-download img {
    width: 100% !important;
    height: 100% !important;
    opacity: 0.5;
}

.block__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block__footer-text {
    width: 338px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    letter-spacing: -0.41px;

    color: #1F294A;
}

.block__footer-social {
    margin: 0 -5px;
}

.block__footer-social a {
    display: inline-block;
    margin: 0 5px;
}

.block__image {
    position: absolute;
    width: 647px;
    right: calc((100% - 1440px)/2);

}

.block__image img {
    position: absolute;
}

.block__image .phone {
    z-index: 4;
    width: 733px;
    top: -13px;
    right: 86px;
}

.block__image .circle-1 {
    z-index: 1;
    width: 311px;
    top: 70px;
    right: 251px;
}

.block__image .circle-2 {
    z-index: 2;
    width: 393px;
    top: 135px;
    right: 221px;
}

.block__image .circle-3 {
    z-index: 3;
    width: 266px;
    top: 128px;
    right: 457px;
}

.block__image .circle-4 {
    z-index: 3;
    width: 48px;
    top: 597px;
    right: 137px;
}

.block__image .circle-5 {
    z-index: 3;
    width: 41px;
    top: 349px;
    right: 737px;
}

.block__image .circle-6 {
    z-index: 3;
    width: 41px;
    top: -27px;
    right: 258px;
}

@media screen and (max-width: 1440px),
screen and (orientation: portrait),
screen and (max-aspect-ratio: 9/16)  {
    .block__image {
        right: 0px;
    }
}

@media only screen and (max-width: 1000px),
screen and (orientation: portrait),
screen and (max-aspect-ratio: 9/16)  {
    .container {
        padding: 76px 20px;
    }
}
