
* {
	box-sizing: border-box;
}

.container {
	max-width: 300px;
	margin: 0 auto;
}

.login--block {
	margin-top: 50px;
}

.login--block__title {
	font-size: 3vh;
	margin-bottom: 64px;
}

.login--block__form--image {
	width: 100%;
}

.form {
	padding: 10px;
}

.form label {
	color: gray;
	font-size: 1.5vh;
}

.form input {
	width: 100%;
    padding: 7px 15px;
    height: 43px;
    background-clip: content-box;
    background-color: rgb(22 163 195 / 16%);
    border: none;
    text-align: left;
}

.form__input_email,
.form__input_password {
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid black;
}

.form__input_password-label {
	display: flex;
	justify-content: space-between;
}

.form__input_password-label a {
	text-decoration: none;
	color: purple;
}

.form__input_password-input {
	display: flex;
	align-items: center;
	position: relative;
}

.form__input_password-input input {
	width: 100%;
}

.form__input_password-input img {
	width: 20px;
}

#password-img {
	position: absolute;
    top: 30px;
    right: 17px;
    display: inline-block;
    width: 15px;
    height: 15px;
	flex-shrink: 0;
	background: url(../img/icons/show.svg) 0 0 no-repeat;
	background-size: contain;
}

#password-img.view {
	background: url(../img/icons/hide.svg) 0 0 no-repeat;
	background-size: contain;
}

.input {
	width: 100%;
	margin-top: 15px;
	background-color: rgb(138 237 186 / 22%);
}

.form__input_submit {
	position: relative;
	padding-bottom: 30px;
    border-bottom: 1px solid #8080805c;
}

.form__input_submit input {
	background-color: purple;
	color: white;
	margin-top: 15px;
	background-clip: unset;
}



#sublit-img {
	position: absolute;
    top: 29px;
    right: 17px;
    display: inline-block;
    width: 15px;
    height: 15px;
	flex-shrink: 0;
	background: url(../img/icons/arrow-right.svg) 0 0 no-repeat;
	background-size: contain;
}

.footer {
	margin-top: 50px;
    margin-bottom: 15px;
    color: gray;
    font-size: 2vh;
}

.footer a {
	text-decoration: none;
}
