body {
    user-select: none;
    background: #001224;
    height: 100%;
    min-width: 375px !important;
}

.first-variation {
    margin-right: 19px;
}

.transition-ease {
    transition: right 500ms ease !important;
}

.menu {
    .navbar {
       
        &-header {
            margin-left: 28px;
            margin-top: 34px;
            margin-bottom: 61px;
        }
        &-title {
            font-family: Play;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 37px;
            background: -webkit-gradient(linear, left top, right top, from(#8cc6ff), color-stop(53.97%, #d9ecff), to(#8cc6ff));
            background: linear-gradient(90deg, #8cc6ff 0%, #d9ecff 53.97%, #8cc6ff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: 0.01em;
        }
    }
    &.animate {
        right: 0;
    }
    &-bar {
        &.navbar-button {
            > span {
                transform: rotate(45deg);
                &::before {
                    transform: rotate(-90deg);
                    top: 0px;
                }
                &::after {
                    display: none !important;
                }
            }
        }
        span {
            top: 20px;
            &::before {
                content: "";
                top: -8px;
                -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
            &::after {
                content: "";
                bottom: -8px;
                -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
        span,
        span::before,
        span::after {
            width: 24px;
            position: absolute;
            height: 3px;
            background: linear-gradient(90deg, #8cc6ff 0%, #d9ecff 53.97%, #8cc6ff 100%);
            display: block;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            border-radius: 5px;
        }
        position: absolute;
        // z-index: 10;
        right: 33px;
        top: 29px;
        width: 28px;
        height: 39px;
        cursor: pointer;
    }
    top: 0;
    width: 100%;
    height: 100%;
    background: #0F263D;
    border-radius: 12px;
    color: #ccc;
    position: fixed;
    right: -100%;
    -webkit-transition: right 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: right 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media (max-width: 993px) {
    .header-title {
        + .footer-medium {
            display: none !important;
        }
    }
    .header-right {
        width: auto;
    }
}

.prelast {
    margin-right: 16px;
}

.last {
    margin-right: 0 !important;
}

.digital-boys {
    margin-top: 50px;
    @media (max-width: 772px) {
        margin-top: 131px;
    }
}

.hero2 {
    &-absolute {
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0%;
        position: absolute;
        width: 100%;
        height: 860px;
    }
    &-div {
        
        overflow: hidden;
        width: 100%;
        height: 860px;
        position: relative;
        margin: 0 auto;
        
    }

    position: absolute;
    background-image: url("../img/digital-boys/hero6.png");
    width: 1633px;
    height: 1182px;
    left: 50%; 
    z-index: -1;
    margin-left: -817.5px;
    @media (max-width: 1000px) {
        display: none;
    }
}

.hero1 {
    &-absolute {
        @media (max-width: 375px) {
            top: -33%;
        }
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -35%;
        position: absolute;
        width: 100%;
        height: 1182px;
    }
    &-div {
        @media (max-width: 375px) {
            // width: 100%;
            // height: 446px;
            // top: -209px;
        }
        @media (max-width: 1300px) {
            width: 100%;
            height: 100%;
        }
        overflow: hidden;
        width: 100%;
        height: 1182px;
        position: relative;
        margin: 0 auto;
        
    }
    &.hero1-2 {
        background: #2994FF;
        mix-blend-mode: color;
    }
    background-image: url("../img/digital-boys/hero1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1468px;
    height: 1182px;
    position: absolute;
    left: 50%; 
    margin-left: -734px;
    z-index: -1;
    mix-blend-mode: screen;
    @media (max-width: 1450px) {
        width: 100%;
        margin-left: -50%;
        // top: -27%;
    }
    @media (max-width: 900px) {
        // width: 1070px;
        // height: 895px;
        // margin-left: -535px;
        // top: -27%;
    }
    @media (max-width: 630px) {
        // width: 1070px;
        // height: 762px;
        // margin-left: -450px;
    }
    @media (max-width: 375px) {
        width: 542px;
        height: 446px;
        margin-left: -263px;
        background-size: contain;
    }
}

.ellipses {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0 auto;
    bottom: -12%;
    @media (max-width: 1900px) {
        width: 100%;
    }
    @media (max-width: 993px) {
        bottom: -5%;
    }
    @media (max-width: 772px) {
        bottom: -1%;
    }
}

.background-title {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0 auto;
    top: 7%;

    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: 170px;
    line-height: 197px;
    text-align: center;
    color: #001224;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(15, 38, 61);
}

.about-collection {
    top: 6%;
    @media (max-width: 1004px) {
        top: 2%;
    }
    @media (max-width: 767px) {
        top: 0%;
    }
    @media (max-width: 500px) {
        top: 9%;
    }
}

.digital-boys {
    &-mini {
        display: none;
        .icon {
            vertical-align: -11px !important;
        }
    }
    &-medium {
        .icon {
            vertical-align: -11px !important;
        }
    }
    @media (max-width: 500px) {
        &-medium {
            display: none;
        }
        &-mini {
            display: inline-block;
        }
    }
}

.digital-boys-nav {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 342px;
    background: linear-gradient(90deg, #5badff 0%, #65b2ff 0.01%, #2a94ff 50.31%, #0076ec 100%);
    border-radius: 12px;
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 10px 25px 10px 25px;
    color: #ffffff;
}

.col-sm-4 {
    width: 669px;
    @media (max-width: 847px) {
        width: 500px !important;
    }
    @media (max-width: 500px) {
        width: 382px !important;
    }
    @media (max-width: 393px) {
        width: 342px !important;
    }
}

.about-collection,
.variations,
.team {
    font-weight: bold !important;
    @media (max-width: 1310px) {
        font-size: 150px;
    }
    @media (max-width: 1161px) {
        font-size: 130px;
    }
    @media (max-width: 1007px) {
        // font-size: 110px;
        display: none;
    }
    @media (max-width: 847px) {
        // font-size: 90px;
    }
    @media (max-width: 689px) {
        // font-size: 70px;
    }
    @media (max-width: 500px) {
        // font-size: 64px;
        // line-height: 74px;
    }
}

.footer {
    &-medium {
        .icon {
            vertical-align: -11px !important;
        }
    }
    @media (max-width: 993px) {
        height: 184px !important;
        > div {
            padding-top: 27px !important;
        }
        &-mini {
            .header-title {
                margin-bottom: 10px;
            }
        }
    }
    > div > span {
        @media (max-width: 993px) {
            display: none !important;
        }
    }
    &-mini {
        display: none !important;
        @media (max-width: 993px) {
            display: block !important;
        }
        .icon {
            vertical-align: -11px !important;
        }
    }
}

.variations {
    top: 4%;
    @media (max-width: 767px) {
        top: -1%;
    }
    @media (max-width: 500px) {
        top: 9%;
    }
}

.team {
    top: 16%;
    @media (max-width: 1004px) {
        top: 9%;
    }
    @media (max-width: 767px) {
        top: 2%;
    }
    @media (max-width: 500px) {
        top: 21%;
    }
}



.hero4 {
    max-width: 100%;
    @media (max-width: 500px) {
        top: -59%;
    }
    position: absolute;
    left: 0;
    z-index: -1;
    top: 25%;
}

.hero5 {
    position: absolute;
    right: 0;
    z-index: -1;
    top: -33%;
}

.icon {
    vertical-align: -9px !important;
}

.btn {
    border: none !important;
    > span {
        margin-right: 4px;
    }
}

.wave {
    
    @media (max-width: 453px) {
        width: 577px;
        left: -202px;
    }
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 118%;
}

.hero7 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hero3 {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0 auto;
    top: -26%;
    @media (max-width: 772px) {
        top: -32%;
    }
    @media (max-width: 500px) {
        top: -17%;
        width: 198px;
    }
}

.footer {
    background: radial-gradient(80.55% 100% at 50% 0%, #032545 0%, #001b35 31.14%, #001224 100%);
    height: 150px;
    width: 100%;
    > div {
        padding-top: 48px;
        > div {
            display: inline-block;
            > span {
                @media (max-width: 1200px) {
                    display: none;
                }
                margin-right: 82px;
                font-family: Play;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                align-items: center;
                color: #ffffff;
            }
            a {
                @media (max-width: 500px) {
                    padding: 10px 12px 10px 12px;
                    font-size: 18px;
                    line-height: 21px;
                }
                background: linear-gradient(90deg, #5badff 0%, #65b2ff 0.01%, #2a94ff 50.31%, #0076ec 100%);
                border-radius: 12px;
                font-family: Play;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                padding: 10px 13px 10px 8px;
                color: #ffffff;
                span {
                    vertical-align: 2px;
                }
            }
        }
    }
}
nav {
    background: linear-gradient(180deg, #011325 28.83%, rgba(1, 19, 37, 0) 100%);
}
.section {
    &-team {
        overflow: hidden;
        @media (max-width: 500px) {
            padding-bottom: 62px;
        }
        padding-bottom: 150px;
        position: relative;
        h1 {
            @media (max-width: 500px) {
                font-size: 42px;
                line-height: 49px;
            }
            font-family: Play;
            font-style: normal;
            font-weight: bold !important;
            font-size: 80px;
            line-height: 93px;
            color: #ffffff;
        }
        p {
            @media (max-width: 537px) {
                width: 92% !important;
                font-size: 14px;
                line-height: 160%;
            }
            font-family: Play;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 160%;
            text-align: center;
            background: linear-gradient(0deg, #cbe6ff, #cbe6ff), linear-gradient(0deg, #ffffff, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: 0.01em;
        }
        .members {
            &-array {
                max-width: 1430px;
                flex-wrap: wrap;
                justify-content: center;
                > div {
                    @media (max-width: 767px) {
                        margin: 0 auto !important;
                    }
                    @media (max-width: 500px) {
                        height: 200px;
                    }
                    > img {
                        @media (max-width: 500px) {
                            width: 137.72px;
                            height: 129px;
                        }
                    }
                    width: 312px;
                    height: 330px;
                    margin-bottom: 16px;
                }
            }
            &-member {
                @media (max-width: 767px) {
                    background: none;
                }
                background: #011a33;
                border-radius: 12px;
                &_name {
                    @media (max-width: 500px) {
                        font-size: 20px;
                        line-height: 160%;
                    }
                    font-family: Play;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 160%;
                    text-align: center;
                    color: #ffffff;
                }
                &_descr {
                    @media (max-width: 500px) {
                        font-size: 14px;
                        line-height: 140%;
                    }
                    width: 80%;
                    margin: 0 auto;
                    font-family: Play;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 140%;
                    text-align: center;
                    color: #cbe6ff;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
    &-variations {
        > div > div > div > div > div > div.item {
            display: table-cell;
            vertical-align: middle;    
            @media (max-width: 500px) {
                img {
                    width: 50%;
                }
            }
            &-4-1 {
                background: #4D77C8 !important;
            }
            &-4-2 {
                background: #7E00E1 !important;
            }
            &-4-3 {
                background: #BE4DC8 !important;
            }
            &-4-4 {
                background: #60714A !important;
            }
            &-4-5 {
                background: #B86F65 !important;
            }
            &-4-6 {
                background: #00B897 !important;
            }
            &-4-7 {
                background: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%, #A33CF3 100%) !important;
            }
            &-4-8 {
                background: linear-gradient(360deg, #476FFF 0%, rgba(71, 111, 255, 0.15) 100%) !important;
            }
            &-4-9 {
                background: radial-gradient(50% 50% at 50% 50%, #BF0000 0%, rgba(227, 0, 0, 0) 100%) !important;
            }
        }
        &-items {
            @media (max-width: 500px) {
                width: 1136px;
                margin-left: 10px !important;
            }
            width: 1320px;
        }
        h1 {
            @media (max-width: 500px) {
                font-size: 42px;
                line-height: 49px;
            }
            font-family: Play;
            font-style: normal;
            font-weight: bold !important;
            font-size: 72px;
            line-height: 83px;
            color: #ffffff;
        }
        p {
            @media (max-width: 537px) {
                width: 92% !important;
                font-size: 14px;
                line-height: 160%;
            }
            font-family: Play;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 160%;
            text-align: center;
            background: linear-gradient(0deg, #cbe6ff, #cbe6ff), linear-gradient(0deg, #ffffff, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: 0.01em;
        }

        .section-variations-inscription {
            @media (max-width: 1450px) {
                // display: none !important;
            }
            
            &-2 {
                @media (max-width: 1450px) {
                    display: none !important;
                }
                > div {
                    margin-top: 34px;
                    width: 119%;
                    display: flex;
                    justify-content: space-around;
                }
                &::after {
                    height: 100%;
                    content: "";
                    margin-top: -100%;
                    display: inline-block;
                    width: 100%;
                    box-shadow: inset -50px 0px 35px -20px #011a33;
                }
                .item {
                    width: 107px;
                    height: 107px;
                    background: #032343;
                    border-radius: 50%;
                }
                margin-bottom: 24px;
                display: inline-block;
                overflow: hidden;
                width: 648px;
                height: 200px;
                background: #011a33;
                border-radius: 20px;
                > div > div {
                    display: inline-block;
                    width: 107px;
                    height: 145px;
                    color: white;
                }
            }
            &-3 {
                @media (max-width: 800px) {
                    display: none;
                }
                > div {
                    @media (max-width: 500px) {
                        margin-top: 13px;
                        width: 53%;
                    }
                    margin-top: 45px;
                    width: 105%;
                    display: flex;
                    justify-content: space-around;
                }
                &::after {
                    height: 100%;
                    content: "";
                    margin-top: -100%;
                    display: inline-block;
                    width: 100%;
                    box-shadow: inset -50px 0px 35px -20px #011a33;
                }
                .item {
                    @media (max-width: 500px) {
                        width: 60px;
                        height: 60px;
                    }
                    width: 107px;
                    height: 107px;
                    background: #032343;
                    border-radius: 50%;
                }
                @media (max-width: 500px) {
                    height: 100px;
                    margin-bottom: 10px;
                }
                margin-bottom: 24px;
                margin-right: 16px;
                display: inline-block;
                overflow: hidden;
                width: 875px;
                height: 200px;
                background: #011a33;
                border-radius: 20px;
                > div > div {
                    @media (max-width: 500px) {
                        width: 60px;
                        height: 80px;
                        font-size: 14px;
                        line-height: 16px;
                    }
                    display: inline-block;
                    width: 107px;
                    height: 145px;
                    color: white;
                }
            }
            &-4 {
                > div {
                    @media (max-width: 500px) {
                        margin-top: 13px;
                        width: 112%;
                    }
                    margin-top: 45px;
                    width: 109%;
                    display: flex;
                    justify-content: space-around;
                }
                &::after {
                    height: 100%;
                    content: "";
                    margin-top: -100%;
                    display: inline-block;
                    width: 100%;
                    box-shadow: inset -50px 0px 35px -20px #011a33;
                }
                .item {
                    @media (max-width: 500px) {
                        width: 60px;
                        height: 60px;
                    }
                    width: 107px;
                    height: 107px;
                    background: #032343;
                    border-radius: 50%;
                }
                @media (max-width: 500px) {
                    width: 205px;
                    height: 100px;
                    margin-bottom: 10px;
                }
                @media (max-width: 800px) {
                    display: none;
                }
                margin-bottom: 24px;
                display: inline-block;
                overflow: hidden;
                width: 424px;
                height: 200px;
                background: #011a33;
                border-radius: 20px;
                > div > div {
                    @media (max-width: 500px) {
                        width: 60px;
                        height: 80px;
                        font-size: 14px;
                        line-height: 16px;
                    }
                    display: inline-block;
                    width: 107px;
                    height: 145px;
                    color: white;
                }
            }
            > div {
                @media (max-width: 500px) {
                    padding-left: 13px;
                    width: 54%;
                    margin-top: 20px;
                }
                margin-top: 45px;
                width: 105%;
                display: flex;
                justify-content: space-around;
            }
            &::after {
                height: 100%;
                content: "";
                margin-top: -100%;
                display: inline-block;
                width: 100%;
                box-shadow: inset -50px 0px 35px -20px #011a33;
            }
            .item {
                @media (max-width: 500px) {
                    width: 60px;
                    height: 60px;
                }
                width: 107px;
                height: 107px;
                background: #032343;
                border-radius: 50%;
            }
            @media (max-width: 500px) {
                height: 100px;
            }
            margin-bottom: 24px;
            overflow: hidden;
            width: 1320px;
            height: 200px;
            background: #011a33;
            border-radius: 20px;
            > div > div {
                
                display: inline-block;
                width: 107px;
                height: 145px;
                color: white;
            }
        }
    }
    &-digital-boys {
        position: relative;
        h1 {
            @media (max-width: 500px) {
                font-size: 56px;
                line-height: 100%;
                strong {
                    font-size: 56px;
                    line-height: 100%;
                }
            }
            font-family: Play;
            font-style: normal;
            font-weight: bold !important;
            font-size: 80px;
            line-height: 93px;
            color: #ffffff;
        }
        p {
            @media (max-width: 537px) {
                width: 92% !important;
                font-size: 16px;
                line-height: 160%;
            }
            font-family: Play;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 160%;
            text-align: center;
            background: linear-gradient(0deg, #cbe6ff, #cbe6ff), linear-gradient(0deg, #ffffff, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: 0.01em;
        }
        strong {
            font-family: Play;
            font-style: normal;
            font-weight: bold;
            font-size: 80px;
            line-height: 93px;
            text-align: right;
            background: linear-gradient(90deg, #73b9ff 0%, #99ccff 50.29%, #73b9ff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: 0.01em;
        }
        a {
            @media (max-width: 500px) {
                padding: 10px 12px 10px 12px;
                font-size: 18px;
                line-height: 21px;
            }
            background: linear-gradient(90deg, #5badff 0%, #65b2ff 0.01%, #2a94ff 50.31%, #0076ec 100%);
            border-radius: 12px;
            font-family: Play;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            align-items: center;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            padding: 10px 13px 10px 8px;
            color: #ffffff;
        }
        span {
            vertical-align: 2px;
        }
    }

    &-about-collection {
        @media (max-width: 500px) {
            margin-top: 131px;
        }
        margin-top: 200px;
        h1 {
            @media (max-width: 500px) {
                font-size: 42px;
                line-height: 49px;
            }
            font-family: Play;
            font-style: normal;
            font-weight: bold !important;
            font-size: 72px;
            line-height: 83px;

            color: #ffffff;
        }
        p {
            @media (max-width: 537px) {
                width: 92% !important;
                font-size: 14px;
                line-height: 160%;
            }
            font-family: Play;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 160%;
            text-align: center;
            background: linear-gradient(0deg, #cbe6ff, #cbe6ff), linear-gradient(0deg, #ffffff, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: 0.01em;
        }
    }

    .about-collection_collections {
        @media (max-width: 500px) {
            width: 937px;
            padding-left: 20px;
        }
        width: 1997px;
        margin: 0 auto;
        padding-left: 124px;
        .item {
            &.item{
                &-1 {
                    background: url("../img/collection/col1.png");
                    background-size: contain;
                }
                &-13 {
                    background: url("../img/collection/col2.png");
                    background-size: contain;
                }
            }
            @media (max-width: 500px) {
                margin-right: 10px;
                margin-bottom: 10px;
                width: 100px;
                height: 100px;
            }
            margin-right: 24px;
            margin-bottom: 24px;
            display: inline-block;
            width: 200px;
            height: 200px;
            border-radius: 20px;
            background: #011a33;
            
        }
    }
}

path {
    fill: inherit;
    stroke: inherit;
}

.dropdown-toggle::after {
    display: none !important;
}

.btn-secondary {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.dropdown-menu {
    padding: 0px;
    background: #192640;
    // min-width:auto;
    border-radius: 12px;
    &.show {
        left: -50px !important;
    }
    li button {
        // padding: 18px 12px;
        padding: 12px 18px;
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
    }
    .last {
        .dropdown-item:hover {
            border-radius: 0 0 12px 12px;
        }
    }
    .bg-blue {
        &.first {
            border-radius: 12px 12px 0 0;
            .dropdown-item:hover {
                border-radius: 12px 12px 0 0;
            }
        }
        background: #1f2e4d;
    }
}

.language-select {
    &:hover {
        .language-select-svg {
            fill: #024dbc;
        }
    }
    &-svg {
        fill: white;
    }
}

.site-header {
    @media (max-width: 772px) {
        display: none;
    }
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none !important;
}

.mini-navbar {
    .btn-group {
        position: absolute;
        right: 81px;
        top: 23px;
    }
    height: 100px;
    display: none;
    @media (max-width: 772px) {
        display: block;
    }
    > span {
        top: 23px;
        // z-index: 2;
        margin-left: 28px;
        position: relative;
    }
    > button {
        position: relative;
        float: right;
        z-index: 2;
        top: 23px;
        right: 40px;
    }
    .navbar-collapse {
        align-items: center;
        position: fixed;
        top: 0;
        padding-top: 194px;
        width: 100%;
        z-index: 1;
        height: 100%;
        background: #1c2b49;
        > ul {
            > li {
                a {
                    font-family: Play;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 42px;
                    text-align: right;
                    letter-spacing: 0.01em;
                    color: #ffffff;
                }
            }
        }
        
    }
}

.navbar-nav {
    hr {
        border: 1px solid #263b66;
    }
    width: 176px;
    float: left;
    margin-left: 28px;
    .nav-link {
        text-align: left;
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.01em;
        color: #ffffff !important;
        &:focus {
            color: rgba(255,255,255,.75) !important;
        }
    }
}

.header {
    &-title {
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 37px;
        background: linear-gradient(90deg, #8cc6ff 0%, #d9ecff 53.97%, #8cc6ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.01em;
    }

    &-navigation {
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #ffffff;
    }

    &-right {
        width: 539px;
    }
}

/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
    width: 36px;
    height: 36px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.animated-icon1 span {
    background: #e65100;
}

.animated-icon2 span {
    background: #e3f2fd;
}

.animated-icon3 span {
    background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 12px;
}

.animated-icon2 span:nth-child(4) {
    top: 24px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}
